@import "tailwindcss";

.selected {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.unselected {
  color: hsl(0, 0%, 30%);
}
.text-light-grey {
  color: hsl(0, 0%, 45%);
}
.spacer {
  height: 20vh;
  width: 100%;
}
